@import 'extra/variables';
@import 'extra/dom';
@import 'extra/menu';
@import 'extra/form';
@import 'extra/containers';

.flash-message {
    position: fixed
    bottom 0px
    left: 25px
    max-width: 400px
}

