@keyframes neon6 {
  from {
    opacity: 1;
    color: #fff;
    text-shadow: 0 0 10px colors.light, 0 0 20px colors.light, 0 0 30px colors.light, 0 0 40px colors.theme, 0 0 70px colors.theme, 0 0 80px colors.theme, 0 0 100px colors.theme, 0 0 150px colors.theme;
  }
  to {
    opacity: 0;
    color: #fff;
    text-shadow: none;
  }
}

@keyframes shadow {
    from {
        color: #3957B0;
    }

    25% {
        color: #18E01A
    }
    50% {
        color: #27F9B9
    }
    75% {
        color: #A3DF44
    }

    to {
        color: #DDA64A;
    }
}
