.pattern {
    background: url('/assets/pattern.svg') repeat center
    background-attachment: fixed
    background-color: colors.main
    background-size: 200px
}

.flanda-style {
    font-family: ffamily
    font-weight: bolder
    font-style: italic

    color: #fff

    text-shadow: -4.5px 3.5px 0px colors.theme
}


// NAVBAR
.navbar.flanda {
    background transparent
    color #fff

    a.navbar--brand,
    .navbar--brand {
        float left
        font-size 1.5em
        color inherit
        cursor pointer
        text-decoration none
        font-style italic

        text-shadow -1.5px 1.5px 0px #00e28f

        transition .15s all ease-in-out

        &:hover {
            transform scale(.9)
        }
    }
}
