
form:not(.no-style) {
    width: 80vw;
    max-width: 550px;

    padding: 10px;

    [type="submit"] {
        float: right
    }

    &.w-bg {
        background: whitesmoke
        color: #2d2d2d
        padding 25px
        border-radius 6px
    }
}

button,
input {
    outline: none !important

    [type="submit"] {
        float: right;
        cursor: pointer;
    }
}

.btn {
    cursor pointer
}
