// VARIABLES
colors = {
    main: #F100AA,
    white: #ffffff,
    dark: rgb(33, 37, 41),
    light: lighten(#70c6a8, 20%)
    primary: darken(#28282F, 15%),
    text-color: #eee,
    tprimary: alpha(darken(#28282F, 15%), .25),
    theme: #70c6a8,
    dark: darken(#70c6a8, 7%)
}



font = {
    size: 18px,
    family: 'Helvetica'
}

ffamily = font.family, sans-serif
